.calendar {
  width:80%;
  margin: auto;
  border-collapse: collapse;
}

.calendar caption {
 font-weight: bold;
 margin-bottom: 10px;
}

.calendar th {
  color:white;
  padding: 5px;
  border: 1px solid #3c6690;
  background: linear-gradient(#829ebc,#225588);
}

.calendar td { 
  padding: 5px;
  border: 1px solid #a8b7c5;
}

.calendar tr.week0 {
  background-color:#ffecec;
  color:#ff0000;
}

.calendar tr.week6 {
  background-color:#ececff;
  color:#0000ff;
}

.calendar td:first-child{
  text-align: center;
  width: 10%;
}

.calendar td:last-child{
  text-align: center;
  width: 25%;
}

