.timebutton1{
  width:100px;
  font-size:15px;
  /* border: 1px inset #00ccff; */
  /* background-color: #eeffff; */
  text-align: center;
}

.timebutton2{
  width:100px;
  font-size:15px;
  /* border: 1px inset #00ccff;
  background-color: #eeffff; */
  text-align: center;
}

.submitbutton{
  width:80px;
  font-size:15px;
  border: 2px inset #ccc;
  background-color:#eee;
}

.timebutton1:focus{
  opacity: 0.6;
}

.timebutton2:focus{
  opacity: 0.6;
}

.submitbutton:focus{
  opacity: 0.6;
}